<div class="row">
    <div class="card col-md-8 col-md-offset-2">
        <form name="form" class="form-horizontal" role="form" novalidate>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Titre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="Titre" required="true"
                           ng-model="wish.title">
                </div>
            </div>
            <div class="form-group">
                <label for="link" class="col-sm-2 control-label">Lien</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="link" placeholder="Lien vers l'article"
                           ng-model="wish.link">
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Prix</label>
                <div class="col-sm-4 input-group">
                    <input type="number" class="form-control" id="price" placeholder="Prix" min="0" value="0"
                           step="0.01" ng-model="wish.price">
                    <span class="input-group-addon">€</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="addNew(wish)" ng-disabled="!form.$valid" class="btn btn-primary">Ajouter</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
