body {
    margin-top: 80px;
    background-image: url("../images/bg.png");
}

.card {
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    padding: 20px;
    background: #f5f5f5;
}
