body {
    margin-top: 80px;
    background-image: url("../images/bg.png");
}

/* navbar */
.navbar-custom {
    background-color: #2b669a;
    border-color: #2b669a;
}
/* title */
.navbar-custom .navbar-brand {
    color: #fff;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #fff;
    background-color: #2b669a;
}
.navbar-custom .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #24537f;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #24537f;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #24537f;
}
/* caret */
.navbar-custom .navbar-nav > li > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-custom .navbar-nav > li > a:hover .caret {
    color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.card {
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    padding: 20px;
    background: #f5f5f5;
}
